.mat-tab-group {
    margin-bottom: 48px;
  }

.header-tabs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 18px;
}

.header-tabs>span{
  align-content: center;
}

.nav-link{
  color: #212529;
}

.nav-link.active{
  background-color: #dc3545;
}

