<div class="bg-danger border-bottom border-body sticky-top px-4 py-3  d-flex flex-row column-gap-3" data-bs-theme="ligth" >
    <a routerLink=".." class="text-decoration-none text-white">
        <div class = "fs-3 d-flex bg-warning p-1 justify-content-center align-items-center" style="width: 2em; height:2em; border-radius: 50%;">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
    </a>
    
    <p class="text-white m-0 d-flex align-items-center fs-4">
        {{title}}
    </p>
    
</div>