<app-navbar></app-navbar>
<div id="second-navbar-admin" class="px-4 py-1 bg-danger-subtle">
    <span>Acceder como: </span>
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Manloader</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
      </ul>
</div>
<p>admin-dashboard works!</p>
